<footer>
    <section class="footer-bigbox">
        <div class="footer-upbox">
            <div class="title-redes">
                <div class="imagen-logo-footer">
                    <h2 class="subtitle-footer">Rodrigo</h2>
                </div>
                <div class="redes-footer">
                    <h5 class="followus"> follow us</h5>
                </div>
            </div>
            <hr class="linea-footer">

        </div>



        <div class="footer-bottombox">
            <div class="copyright">
                <i class="fa-regular fa-copyright"></i>
                <h3> 2022 Rodrigo.  All Right Reserved.</h3>
            </div>
            <div class="terms">
                <a href="#">Privacy & security</a>
                <a href="#">|</a>
                <a href="#">Terms and conditions.</a>
            </div>
        </div>
    </section>
</footer>
