<app-header></app-header>

<section class="cards">
    <div class="div_grande">
        <div class="boxall">
            <img src="../../assets/Tenis negro 2.png" class="img" >
            <p class="tarjetas_titulo">Tenis ROD <br>[Negro]</p>
            <p class="price">$ 160.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/" class="img" >
            <p class="tarjetas_titulo">Tenis ROD <br> [Plata]</p>
            <p class="price">$ 160.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Stilettos 2.png" class="img" >
            <p class="tarjetas_titulo">Stilettos Clásicos <br> [Negro]</p>
            <p class="price">$ 175.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Stilettos Plata 2.png" class="img" >
            <p class="tarjetas_titulo">Stilettos Clásicos <br> [Plata]</p>
            <p class="price">$ 165.000</p>
        </div>


    </div>
    
</section>

<app-footer></app-footer>
