<app-header></app-header>

<section class="cards">
    <div class="div_grande">
        <div class="boxall">
            <img src="../../assets/Correa 1.png" class="img" >
            <p class="tarjetas_titulo">Correa de Hojales <br>[Negro]</p>
            <p class="price">$ </p>
        </div>

        <div class="boxall">
            <img src="../../assets/Correa 3.png" class="img" >
            <p class="tarjetas_titulo">Correa de Hojales <br> [Plata]</p>
            <p class="price">$ 160.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Correa Lujo 3.png" class="img" >
            <p class="tarjetas_titulo">Cinturón de Lujo <br> [Plata]</p>
            <p class="price">$ </p>
        </div>

        <div class="boxall">
            <img src="../../assets/Bolso malle plata 2.png" class="img" >
            <p class="tarjetas_titulo">Bolso MALLE <br> [Negro]</p>
            <p class="price">$ </p>
        </div>

        <div class="boxall">
            <img src="../../assets/" class="img" >
            <p class="tarjetas_titulo">Bolso MALLE <br> [Plata]</p>
            <p class="price">$ 170.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Bolso Malle Vertical Negro 3.png" class="img" >
            <p class="tarjetas_titulo">Bolso MALLE Vertical<br> [Negro]</p>
            <p class="price">$ 170.000</p>
        </div>

        <div class="boxall" >
            <img src="../../assets/Bolso Malle Vertical Plata 1.png" class="img" >
            <p class="tarjetas_titulo">Bolso MALLE Vertical<br> [Plata]</p>
            <p class="price">$ 165.000</p>
        </div>

        <div class="boxall" >
            <img src="../../assets/Collar 2.png" class="img" >
            <p class="tarjetas_titulo">Collar ROD<br> [Plata]</p>
            <p class="price">$ 70.000</p>
        </div>


    </div>
    
</section>

<app-footer></app-footer>
