<app-header></app-header>

<section class="cards">
    <div class="div_grande">
        <div class="boxall" >
            <img src="../../assets/Pantalon 3.png" class="img" >
            <p class="tarjetas_titulo">Pantalón Biker <br>[Negro]</p>
            <p class="price">$ 170.000</p>
        </div>

        <div class="boxall" >
            <img src="../../assets/Camisa Hombre 1.png" class="img" >
            <p class="tarjetas_titulo">Camisa 3/4 DIONLE<br> [Blanco]</p>
            <p class="price">$ </p>
        </div>

        <div class="boxall" >
            <img src="../../assets/Camisa Hombre 3.1.png" class="img" >
            <p class="tarjetas_titulo">Camisa 3/4 DIONLE <br> [Negro]</p>
            <p class="price">$</p>
        </div>

        <div class="boxall" >
            <img src="../../assets/Cazador 3.png" class="img" >
            <p class="tarjetas_titulo">Conjunto Cazador <br> [Plata]</p>
            <p class="price">$ 250.000</p>
        </div>

    </div>
    
</section>

<app-footer></app-footer>
