<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
<style> @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); </style>


<app-header></app-header>

  <div clas="collection">
     <img src="../../assets/images/collection.jpeg" class="img">
  </div>

  <section class="cards">
    <div class="div_grande">
        <div class="boxall" routerLink="/mujer">
            <h3 class="tarjetas_titulo" routerLink="/mujer"></h3>
            <img src="../../assets/images/Croc top 2.png" class="img2">
            <div class="texto-encima"> MUJER </div>
        </div>

        <div class="boxall" routerLink="/hombre"> 
            <h3 class="tarjetas_titulo" routerLink="/hombre"></h3>
            <img src="../../assets/images/Camisa Hombre 2.png" class="img2">
            <div class="texto-encima"> HOMBRE </div>
        </div>

    </div>
    
    <div class="div_grande">
        <div class="boxall" routerLink="/zapatos"> 
            <h3 class="tarjetas_titulo" routerLink="/zapatos"></h3>
            <img src="../../assets/images/Tenis negro 3.png" class="img2">
            <div class="texto-encima"> ZAPATOS </div>
        </div>

        <div class="boxall" routerLink="/accesorios"> 
            <h3 class="tarjetas_titulo" routerLink="/accesorios"></h3>
            <img src="../../assets/images/Bolso Malle Vertical Negro 2.png" class="img2">
            <div class="texto-encima"> ACCESORIOS </div>
        </div>
    </div>
</section>


    


<app-footer></app-footer>