<app-header></app-header>

<section class="cards">
    <div class="div_grande">
        <div class="boxall">
            <img src="../../assets/Croc top 3.png" class="img" >
            <p class="tarjetas_titulo">Crop Top escotado <br>[Bicolor]</p>
            <p class="price">$ 160.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Croc top Negro 1.png" class="img" >
            <p class="tarjetas_titulo">Crop Top escotado <br> [Negro]</p>
            <p class="price">$ 175.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Croc top Negro 3.png" class="img" >
            <p class="tarjetas_titulo">Falda Lápiz <br> [Negro]</p>
            <p class="price"></p>
        </div>

        <div class="boxall">
            <img src="../../assets/Blusa 3.png" class="img" >
            <p class="tarjetas_titulo">Blusa Tipo DIONLE <br> [Negro]</p>
            <p class="price">$ 150.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Blusa 1.png" class="img" >
            <p class="tarjetas_titulo">Blusa Tipo DIONLE <br> [Blanco]</p>
            <p class="price">$ 175.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Blusa 2.png" class="img" >
            <p class="tarjetas_titulo">Falda Plisada <br> [Negro]</p>
            <p class="price">$ 160.000</p>
        </div>

        <div class="boxall">
            <img src="../../assets/Vestido 2.png" class="img" >
            <p class="tarjetas_titulo">Vestido Medio Beso <br> [Negro]</p>
            <p class="price">$ 350.000</p>
        </div>

        <div class="boxall2">
            <p class="tarjetas_titulo"> <br> </p>
            <p class="price"></p>
        </div>

    </div>
    
</section>

<app-footer></app-footer>