<app-header></app-header>

       <!-- Item-->
       <div class="cards">

        <div *ngFor="let product of productList" class="div_grande">
            <div class="boxall">
                <div class="">
                    <img [src]="product.image" class="img2" >
                    <p class="tarjetas_titulo">
                      {{product.name}}
                    </p>
                    <p class="price">{{product.price}}<button (click)="addToCart(product)" type="button" class="button">Add to Cart</button></p>
                </div><!--fin box all-->
            </div> <!-- fin div grande-->
        </div><!--fin ngFor-->
     
     </div><!--Fin cards-->


<app-footer></app-footer>